# Compiled artifacts
/target
/dependency-reduced-pom.xml

# logs
/log

# IDE cruft
.idea
*.iml

# Mac cruft
.DS_Store

# experimental artifacts
/models
/experiments
/data

#wsj.model is too big
/resources/wsj.model

*.swp

